<ion-menu menuId="first-menu_played" side="end" contentId="main-content">
  <app-filter-menu (orderParameter)="orderGames($event)"  (filterParameter)="filterGames($event)"></app-filter-menu>
</ion-menu>


<ion-header translucent="true">
  <app-user-menu *ngIf="isAuth()" menuIdentifier="played"></app-user-menu>

  <ion-toolbar class="steelBlueBackground">
    <ion-title>Played List</ion-title>
    <ion-buttons slot="end">
    
      <ion-menu-button menu="first-menu_played">
        <ion-icon name="options-outline" size="large" class="whiteColor"></ion-icon>
      </ion-menu-button>

    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="main-content">
  <ion-item>

    <ion-searchbar
    animated="true"
    placeholder="Search games"
    show-clear-button="focus"
    (ionInput)="onSearchInput($event)"
  ></ion-searchbar>
  </ion-item>
  
  @for (item of filteredGames; track $index) {
  <ion-card class="" [routerLink]="['/game-description', item.id]">
    <ion-img [src]="item.thumbnail"></ion-img>
    <ion-card-content>
      <div class="flex-col-center">
        <span class="title">{{ item.title }}</span>
        <div class="space-between">
          <span class="">Platform: {{ item.platforms.join(', ') }}</span>
          <span class="">RD: {{ item.release_date }}</span>
        </div>
        <span>{{item.genres.join(', ')}}</span>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-item>
    <ion-label>Remove game from list</ion-label>
    <ion-button [id]="'open-action-sheet-' + item.id">
      Remove
    </ion-button>
  </ion-item>
  <ion-action-sheet
  [trigger]="'open-action-sheet-' + item.id"
  header="Are you sure you want to remove the game from the list?"
  [buttons]="actionSheetButtons"
  (didDismiss)="confirmDelete($event, item.id)"
 ></ion-action-sheet>
  }

</ion-content>


