<ion-header translucent="true">
  <app-user-menu *ngIf="isAuth()" menuIdentifier="games"></app-user-menu>

  <ion-toolbar class="steelBlueBackground">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Game Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="">
    <ion-img [src]="game.thumbnail"></ion-img>
    <ion-card-content>
      <div class="flex-col-center">
        <div class="space-between">
          <span class="title">{{ game.title }}</span>
          @if(game.game_url){
            <a href="{{game.game_url}}"><ion-icon class="steelBlueColor" size="large" name="arrow-redo-outline"></ion-icon></a>
          }
        </div>
        <div>
          <span>{{game.short_description}}</span>
        </div>

        <div class="space-between">
          <span class=""><strong>RD:</strong> {{ game.release_date }}</span>
        </div>
        <span class=""><strong>Platforms:</strong> {{ game.platforms?.join(', ') }}</span>
          <span class=""><strong>Publishers:</strong> {{ game.publishers?.join(', ') }}</span>
          <span class=""><strong>Developers:</strong> {{ game.developers?.join(', ') }}</span>

        <span><strong>Genres:</strong> {{game.genres?.join(', ')}}</span>
        <span>
          <strong>Available on:</strong>
          <span *ngFor="let store of game.store; let i = index">
            <a href="{{store.storeUrl}}" target="_blank">{{ store.name }}</a>
            <span *ngIf="i < game.store.length - 1">, </span>
          </span>
        </span>

      </div>
    </ion-card-content>
  </ion-card>
  <ion-item>
    <ion-label>Gaming list:</ion-label>
    <ion-select placeholder="Add" [(ngModel)]="game.currentList">
      <ion-select-option value="playLaterGames">
        Play later
      </ion-select-option>
      <ion-select-option value="currentlyPlayingGames">
        Playing
      </ion-select-option>
      <ion-select-option value="playedGame"> Played </ion-select-option>
      <ion-select-option value="completedGames">
        Finished
      </ion-select-option>
    </ion-select>
    <ion-button slot="end" (click)="AddToList()">
      <ion-icon
        menu="first-menu"
        name="checkmark-outline"
        size="large"
      ></ion-icon>
    </ion-button>
  </ion-item>
</ion-content>
