<ion-header>
  <ion-toolbar class="toolbar safetyOrangeBackground">
    <ion-item class="safetyOrangeBackground aliceBlueColor">
      <ion-title>Filter/Sort</ion-title>
      <ion-menu-toggle slot="end">
        <ion-icon name="close-circle-outline" size="large"></ion-icon>
      </ion-menu-toggle>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding test">
  <ion-list>
    <span class="">Order by</span>
    <ion-item>
      <ion-chip
        (click)="filterByAlphabet()"
        [ngClass]="{ safetyOrangeBackground: sortByAlphabet }"
      >
        Alphabetic
      </ion-chip>
      <ion-chip
        (click)="filterByReleaseDate()"
        [ngClass]="{ safetyOrangeBackground: sortByReleaseDate }"
      >
        Release date
      </ion-chip>
    </ion-item>

    <span class="">Sort by</span>
    <ion-item>
      <ion-select
      multiple="true"

        placeholder="Select Platform"
        [(ngModel)]="selectedFilterParams.platforms"
      >
        <ion-select-option
          *ngFor="let platform of platforms"
          [value]="platform"
        >
          {{ platform.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select
        multiple="true"
        [interfaceOptions]="{ cssClass: 'alert' }"
        placeholder="Select Genre"
        [(ngModel)]="selectedFilterParams.genres"
      >
        <ion-select-option *ngFor="let genre of genres" [value]="genre">
          {{ genre.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button slot="end" (click)="emitFilterParams()">
      <ion-icon menu="first-menu" name="search-outline" size="large"></ion-icon>
    </ion-button>
  </ion-list>
</ion-content>
